venv/
.venv/
env/

# ignore pycache
__pychache__/
*.py[cod]
*$py.class

initial_wm_analysis.ipynb
long_wm_overlap_map.ipynb
make_summarized_tsv.ipynb
move_files.ipynb
read_info_file.py
ROUGHlongitudinal_LinReg.ipynb
tissue_extractor.ipynb
trial_imgs/CU_2310_wm_intercept.nii.gz
trial_imgs/CU_2310_wm_inv_trans.nii
trial_imgs/CU_2310_wm_slope.nii.gz
trial_imgs/CU_2538_wm_intercept.nii.gz
trial_imgs/CU_2538_wm_slope.nii.gz
trial_imgs/CU_2663_wm_intercept.nii.gz
trial_imgs/CU_2663_wm_slope.nii.gz
trial_imgs/CU_2697_wm_intercept.nii.gz
trial_imgs/CU_2697_wm_slope.nii.gz
make_summarized_tsv.ipynb
__pycache__/avg_vol.cpython-310.pyc
backup.ipynb
junk/deprecated_code/avg_vol_tutorial.ipynb
backup.ipynb
junk/deprecated_code/avg_vol_tutorial.ipynb
CU_2310_W0_T1_gm_resliced.nii.gz
tpl-SUIT_T1w.nii.gz
CU_2310_W0_T1_gm_vol.nii.gz
junk/deprecated_code/avg_vol.py
new.ipynb
total_volume.ipynb
backup.ipynb
junk/deprecated_code/avg_vol.py
junk/deprecated_code/avg_vol_tutorial.ipynb
new.ipynb
junk/deprecated_code/avg_vol.py
repo_ignore/trial_imgs/CU_2310_wm_intercept.nii.gz
repo_ignore/trial_imgs/CU_2310_wm_inv_trans.nii
repo_ignore/trial_imgs/CU_2310_wm_slope.nii.gz
repo_ignore/trial_imgs/CU_2538_wm_intercept.nii.gz
repo_ignore/trial_imgs/CU_2538_wm_slope.nii.gz
repo_ignore/trial_imgs/CU_2663_wm_intercept.nii.gz
repo_ignore/trial_imgs/CU_2663_wm_slope.nii.gz
repo_ignore/trial_imgs/CU_2697_wm_intercept.nii.gz
repo_ignore/trial_imgs/CU_2697_wm_slope.nii.gz
image_analysis/__pycache__/avg_vol.cpython-310.pyc
image_analysis/avg_vol_tutorial.ipynb
*.pyc
image_processing/__pycache__/tissue_extractor.cpython-310.pyc
image_processing/__pycache__/tissue_extractor.cpython-310.pyc
image_processing/__pycache__/tissue_extractor.cpython-310.pyc
image_analysis/avg_vol_editor.ipynb
cerebellar_alignment/CU_2538_W4_cerebellum_only_trial.nii.gz
trial_sc_coreg.m
cerebellar_alignment/CU_2538_W4_T1_updated_affine.nii.gz
cerebellar_alignment/CU_2538_W0_cerebellum_only_trial.nii.gz
cerebellar_alignment/CU_2538_T1_slope_native_wm_updated_affine.nii.gz
cerebellar_alignment/CU_2538_T1_intercept_native_wm_updated_affine.nii.gz
cerebellar_alignment/c2CU_2538_W4_T1_updated_affine.nii.gz
cerebellar_alignment/c2CU_2538_W4_T1_updated_affine.nii
cerebellar_alignment/c2CU_2538_W0_T1_updated_affine.nii
cerebellar_alignment/trial_imgs_CU_2538/c2CU_2538_W0_T1_updated_affine.nii
cerebellar_alignment/trial_imgs_CU_2538/c2CU_2538_W4_T1_updated_affine.nii
cerebellar_alignment/trial_imgs_CU_2538/c2CU_2538_W4_T1_updated_affine.nii.gz
cerebellar_alignment/trial_imgs_CU_2538/CU_2538_T1_intercept_native_wm_updated_affine.nii.gz
cerebellar_alignment/trial_imgs_CU_2538/CU_2538_T1_slope_native_wm_updated_affine.nii.gz
cerebellar_alignment/trial_imgs_CU_2538/CU_2538_W4_T1_updated_affine.nii.gz
image_analysis/sample_img_slope_3subj.nii.gz
